<div class="container-fluid">
  <div class="d-flex align-items-center">
    <h1>Gruas</h1>
    <h1>Maquinaria Pesada</h1>
    <% if current_user %>
      <%= link_to "Nuevo", new_grua_path, class: "btn btn-outline-dark ml-auto" %>
    <% end %>
  </div>
  <% if params[:combustion].present? || params[:all].present? %>
    <h1 style="margin-top: 16px;font-size: 18px">Combustion:</h1>
    <%= render partial: "gruas/shared/card", locals: { category: "Combustion" } %>
  <% end %>

  <% if params[:electrica].present? || params[:all].present? %>
    <h1 style="margin-top: 16px;font-size: 18px">Electricas:</h1>
    <%=  render partial: "gruas/shared/card", locals: { category: "Electricas" } %>
  <% end %>

  <% if params[:diesel].present? || params[:all].present? %>
    <h1 style="margin-top: 16px;font-size: 18px">Diesel:</h1>
    <%= render partial: "gruas/shared/card", locals: { category: "Diesel" } %>
  <% end %>
</div>
