<section class="clients-style-two">
    <div class="auto-container">
        <div class="sec-title text-center style-two mb-70">
            <h2>Nuestros Clientes</h2>
        </div>
        <div class="logo-inner">
            <ul class="logo-box logo-box-one clearfix">
                <li><figure class="image-box"><a href="index.html"><img src="/assets/landing_images/clients/clients-logo-6.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="/assets/landing_images/clients/clients-logo-7.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="/assets/landing_images/clients/clients-logo-8.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="/assets/landing_images/clients/clients-logo-9.png" alt=""></a></figure></li>
            </ul>
            <ul class="logo-box logo-box-two clearfix">
                <li><figure class="image-box"><a href="index.html"><img src="/assets/landing_images/clients/clients-logo-10.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="/assets/landing_images/clients/clients-logo-11.png" alt=""></a></figure></li>
                <li><figure class="image-box"><a href="index.html"><img src="/assets/landing_images/clients/clients-logo-12.png" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>

<section class="testimonial-style-two">
    <div class="title-inner bg-color-3">
        <div class="pattern-layer" style="background-image: url(/assets/landing_images/shape/shape-15.png);"></div>
    </div>
    <div class="lower-content">
        <div class="auto-container">
            <div class="inner-content">
                <div class="testimonial-carousel-2 owl-carousel owl-theme owl-dots-none nav-style-one">
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/landing_images/resource/testimonial-1.jpg" alt=""></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(/assets/landing_images/icons/icon-4.png);"></div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <h4>Dedrew Kowzel</h4>
                                    <span class="designation">CEO & Founder - Soft Solution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/landing_images/resource/testimonial-2.jpg" alt=""></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(/assets/landing_images/icons/icon-4.png);"></div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <h4>Donal Archar</h4>
                                    <span class="designation">CEO & Founder - Soft Solution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-content">
                        <div class="inner-box">
                            <figure class="image-box"><img src="/assets/landing_images/resource/testimonial-3.jpg" alt=""></figure>
                            <div class="content-box">
                                <div class="icon-box" style="background-image: url(/assets/landing_images/icons/icon-4.png);"></div>
                                <div class="text">
                                    <p>As a growing company, we found in Naxly expertise in data science invaluble In almost two years of cooperation, they’ve helped us.</p>
                                </div>
                                <div class="author-info">
                                    <h4>Jams Shan</h4>
                                    <span class="designation">CEO & Founder - Soft Solution</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
