<section class="news-section style-two">
    <div class="auto-container">
        <div class="sec-title text-center style-two mb-60">
            <p>News & Updates</p>
            <h2>Latest thinking in AI and our<br />company news</h2>
            <div class="decor" style="background-image: url(/assets/landing_images/icons/decor-1.png);"></div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/assets/landing_images/news/news-1.jpg" alt="">
                            <a href="/assets/landing_images/news/news-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                        </figure>
                        <div class="lower-content">
                            <div class="file-box"><i class="far fa-folder-open"></i><p>Data Engineering</p></div>
                            <div class="title-box">
                                <div class="post-date"><p>05</p><span>Jan</span></div>
                                <h4><a href="blog-details.html">Naxly Named as a Global Leader in Big Data</a></h4>
                            </div>
                            <div class="link"><a href="blog-details.html"><i class="flaticon-next"></i>More Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/assets/landing_images/news/news-4.jpg" alt="">
                            <a href="/assets/landing_images/news/news-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                        </figure>
                        <div class="lower-content">
                            <div class="file-box"><i class="far fa-folder-open"></i><p>ML Consulting</p></div>
                            <div class="title-box">
                                <div class="post-date"><p>01</p><span>Jan</span></div>
                                <h4><a href="blog-details.html">The Current State of Artificial Intelligence Infographic.</a></h4>
                            </div>
                            <div class="link"><a href="blog-details.html"><i class="flaticon-next"></i>More Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                <div class="news-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="/assets/landing_images/news/news-5.jpg" alt="">
                            <a href="/assets/landing_images/news/news-5.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-zoom"></i></a>
                        </figure>
                        <div class="lower-content">
                            <div class="file-box"><i class="far fa-folder-open"></i><p>Data Strategy</p></div>
                            <div class="title-box">
                                <div class="post-date"><p>25</p><span>Dec</span></div>
                                <h4><a href="blog-details.html">Naxly as the Winners in Global Agency Awards</a></h4>
                            </div>
                            <div class="link"><a href="blog-details.html"><i class="flaticon-next"></i>More Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
