<!-- NAVBAR -->
<header class="main-header style-two">
    <div class="header-upper">
        <div class="large-container">
            <div class="outer-box clearfix">
                <a href="/" class="logo-box pull-left">
                    <%= image_tag "https://res.cloudinary.com/dd3nxxiaw/image/upload/v1673610580/logo_skl_bagtzk.jpg", class: "logo-skl mt-3 ms-5" %>
                </a>
                <div class="menu-area pull-right clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown"><a>Equipos</a>
                                    <ul>
                                        <li class="dropdown"><a href="/gruas?all=true" class="text-decoration-none">Grúas<i class="fa-regular fa-screwdriver-wrench"></i></a>
                                            <ul>
                                              <li><a href="/gruas?combustion=true" class="text-decoration-none">Combustión<i class="fa-solid fa-fire"></i></a></li>
                                              <li><a href="/gruas?electrica=true" class="text-decoration-none">Electrica<i class="fa-solid fa-bolt"></i></a></li>
                                              <li><a href="/gruas?diesel=true" class="text-decoration-none">Diesel<i class="fa-solid fa-gas-pump"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/tractors" class="text-decoration-none">Tractores<i class="fa-solid fa-tractor"></i></a></li>
                                        <li><a href="/maquinariapesadas" class="text-decoration-none">Maquinaria Pesada<i class="fa-solid fa-industry"></i></a></li>
                                        <li><a href="/transpaletas" class="text-decoration-none">Transpaleta<i class="fa-solid fa-truck-pickup"></i></a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a>Ventas</a>
                                    <ul>
                                        <li><a href="/ventos?nuevos=true" class="text-decoration-none">Nuevos<i class="fa-solid fa-wand-magic-sparkles"></i></a></li>
                                        <li><a href="/ventos?reacondicionados=true" class="text-decoration-none">Reacondicionados<i class="fa-solid fa-wrench"></i></a></li>
                                    </ul>
                                </li>
                                <li><a href="/novedades" class="text-decoration-none">Novedades</a></li>
                                <li><a href="/operadores" class="text-decoration-none">Operadores</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="btn-box">
                      <% if current_user %>
                        <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "theme-btn style-five text-decoration-none" %>
                      <% end %>
                      <a href="#procesos" class="theme-btn style-five text-decoration-none">Nuestros procesos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="large-container clearfix">
            <%= image_tag "https://res.cloudinary.com/dd3nxxiaw/image/upload/v1673610580/logo_skl_bagtzk.jpg", class: "logo-skl ms-5" %>
            <div class="menu-area">
                <nav class="main-menu clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                      <ul class="navigation clearfix">
                          <li class="current dropdown"><a>Equipos</a>
                              <ul>
                                  <li class="dropdown"><a href="/gruas?all=true" class="text-decoration-none">Grúas<i class="fa-regular fa-screwdriver-wrench"></i></a>
                                      <ul>
                                        <li><a href="/gruas?combustion=true" class="text-decoration-none">Combustión<i class="fa-solid fa-fire"></i></a></li>
                                        <li><a href="/gruas?electrica=true" class="text-decoration-none">Electrica<i class="fa-solid fa-bolt"></i></a></li>
                                        <li><a href="/gruas?diesel=true" class="text-decoration-none">Diesel<i class="fa-solid fa-gas-pump"></i></a></li>
                                      </ul>
                                  </li>
                                  <li><a href="/tractors" class="text-decoration-none">Tractores<i class="fa-solid fa-tractor"></i></a></li>
                                  <li><a href="/maquinariapesadas" class="text-decoration-none">Maquinaria Pesada<i class="fa-solid fa-industry"></i></a></li>
                                  <li><a href="/transpaletas" class="text-decoration-none">Transpaleta<i class="fa-solid fa-truck-pickup"></i></a></li>
                              </ul>
                          </li>
                          <li class="dropdown"><a>Ventas</a>
                              <ul>
                                  <li><a href="/ventos?nuevos=true" class="text-decoration-none">Nuevos<i class="fa-solid fa-wand-magic-sparkles"></i></a></li>
                                  <li><a href="/ventos?reacondicionados=true" class="text-decoration-none">Reacondicionados<i class="fa-solid fa-wrench"></i></a></li>
                              </ul>
                          </li>
                          <li><a href="/novedades" class="text-decoration-none">Novedades</a></li>
                          <li><a href="/operadores" class="text-decoration-none">Operadores</a></li>
                      </ul>
                      </div>
                </nav>
                <div class="btn-box">
                  <% if current_user %>
                    <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "theme-btn style-five text-decoration-none" %>
                  <% end %>
                  <a href="#procesos" class="theme-btn style-five text-decoration-none">Nuestros procesos</a>
                </div>
            </div>
        </div>
    </div>
</header>
