<div class="container-fluid">
  <h1>Ventos</h1>
  <% if params[:nuevos].present? || params[:all].present? %>
    <h1 style="margin-top: 16px;font-size: 18px">Equipos Nuevos:</h1>
    <%= render partial: "ventos/shared/card", locals: { category: "Nuevos" } %>
  <% end %>

  <% if params[:reacondicionados].present? || params[:all].present? %>
    <h1 style="margin-top: 16px;font-size: 18px">Equipos Reacondicionados:</h1>
    <%=  render partial: "ventos/shared/card", locals: { category: "Reacondicionados" } %>
  <% end %>
</div>
