<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dd3nxxiaw/image/upload/v1673610586/Banner_skl_ulxqhl.jpg);">
  <div class="container">
    <h1>SKL tenemos arriendo y venta de equipos con  <strong>el mejor servicio</strong> y la mejor <strong>continuidad operativa</strong> del mercado!</h1>
    <p>Somos una empresa dedicada al arriendo de maquinarias ,principalmente lo relacionado a la
logística interna de las empresas , enfocados en grúas horquilla y su gran variedad de aplicaciones
.
Nos aseguramos día a día de brindar un servicio impecable que este a la altura de nuestros
clientes, mantener un equipo de trabajo e infraestructura que asegure un servicio de primer nivel
,incorporar nuevas tecnologías y mecanismos de trabajo más eficientes y rápidos .
Nos caracterismos por asegurar continuidad de servicio , atención personalizada en conjunto con
nuestras propuestas de mejora continua del producto y servicio.
</p>

    </li>
  </div>
</div>
