.btn-ghost {
  color: #4A4A4A;

  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: $azul_skl;
  padding: 3px 6px;
  border-radius: 4px;
background-color: white;
  margin-left: 6px;
  text-decoration: none;
  border: 2px solid $azul_skl;

}



.btn-flat-rojo {
  color: $verde_skl;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: white;
  margin-left: 6px;
  text-decoration: none;
  border: 2px solid $verde_skl;
}

.btn-flat:hover {
  background-color: white;
  color: $verde_skl;
  border: 2px solid $verde_skl;
}
.btn-flat-rojo:hover {
  background-color: white;
  color: $azul_skl;
  border: 2px solid $azul_skl;
}

.btn-gradient {
  color: rgb(255, 255, 255);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.whatsapp-button {
  display: inline-block;
  background-color: #25D366;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
