<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BackCheck</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc8f5ce769.js" crossorigin="anonymous"></script>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application_landing", "data-turbo-track": "reload" %>

    <!-- Javascript -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="boxed_wrapper">
    <a href="https://wa.me/56987550756?text=Hola!%20Me%20gustaría%20recibir%20información!" target="_blank">
      <i class="fa-brands fa-whatsapp whatsapp-button"></i>
    </a>
    <div data-controller="landing">
      <%= yield %>
    </div>
  </body>
</html>
